body,
html {
  margin: auto;
}

h1 {
  text-align: center;
}

.main-Container {
  display: flex;
  background-color: darkolivegreen;
  height: 100vh;
}

.input-Container {
  align-self: center;
  margin: auto;
  background-color: whitesmoke;
  width: 50%;
  height: 50%;
}

#toDoList {
  margin-bottom: 2%;
  text-align: center;
}

#toDo {
  position: relative;
  padding-right: 8.5%;
  font-size: large;
  list-style: none;
}

.delete {
  float: right;
}

ul li.done {
  cursor: pointer;
  list-style: none;
  transition: 0.2s;
  text-decoration: line-through;
  color: darkgreen;
}

ul li.done::after {
  position: absolute;
  content: "Done!";
  margin-left: 5%;
}
